.DS_Store
/.yardoc/*
/doc/*
/coverage/*
/spec/debug.log
/pkg/*
/dist
/Gemfile.lock
*.gem
/.idea/
/.rvmrc
.bundle
/.rbx
/spec/integration/*/bin/
/spec/integration/*/log/*
!/spec/integration/*/log/.gitkeep
/spec/integration/*/tmp/*
!/spec/integration/*/tmp/.gitkeep
/spec/integration/*/db/test.*
