/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

!/spec/integration/*/log/.gitkeep
!/spec/integration/*/tmp/.gitkeep
.gems
/.idea/
/.rbx
/dist
/spec/debug.log
/spec/integration/*/bin/
/spec/integration/*/db/test.*
/spec/integration/*/log/*
/spec/integration/*/tmp/*

*.gem
.byebug_history

# rbenv
.ruby-version

# RVM
.rvmrc

# macOS
.DS_Store
