!/spec/integration/*/log/.gitkeep
!/spec/integration/*/tmp/.gitkeep
*.gem
.DS_Store
.bundle
.gems
.rbenv-version
/.idea/
/.rbx
/.rvmrc
/.yardoc/*
/Gemfile.lock
/coverage/*
/dist
/doc/*
/pkg/*
/spec/debug.log
/spec/integration/*/bin/
/spec/integration/*/db/test.*
/spec/integration/*/log/*
/spec/integration/*/tmp/*
