[project]
	description = Annotate Rails classes with schema and routes info
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cuong Tran (ctran)
[access "refs/for/refs/*"]
	read = group user/Cuong Tran (ctran)
	push = group user/Cuong Tran (ctran)
	label-Code-Review = -2..+2 group user/Cuong Tran (ctran)
	label-Verified = -1..+1 group user/Cuong Tran (ctran)
	rebase = group user/Cuong Tran (ctran)
	removeReviewer = group user/Cuong Tran (ctran)
	submit = group user/Cuong Tran (ctran)
[access "refs/heads/*"]
	read = group user/Cuong Tran (ctran)
	create = group user/Cuong Tran (ctran)
	push = +force group user/Cuong Tran (ctran)
	pushMerge = group user/Cuong Tran (ctran)
[access "refs/tags/*"]
	push = group user/Cuong Tran (ctran)
	push = +force group user/Cuong Tran (ctran)
