name: CI
on:
  pull_request:
    branches:
      - '*'

  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.6.x']

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install sqlite
        run: |
          sudo apt-get install libsqlite3-dev

      - name: Update System
        run: |
          gem update --system --no-document

      - name: Bundle install for Annotate models
        run: |
          bundle install --jobs=4 --retry=3

      - name: Bundle install for Rails app
        run: |
          bundle install --jobs=4 --retry=3 --gemfile=spec/integration/rails_6.0.2.1/Gemfile

      - name: Run Tests
        run: bundle exec rspec

      - name: Rubocop
        run: bundle exec rubocop
